<nav class="topbar">
  <div class="left">
    <span class="logo">TaskFlow</span>

    <a class="nav-btn" (click)="goHome()">🏠 Inicio</a>
    <a class="nav-btn" (click)="goToTasks()">📋 Tareas</a>
    <a class="nav-btn" routerLink="/profile">👤 Mi perfil</a>
  </div>

  <div class="right">
    <button class="icon-btn" (click)="toggleTheme()">
      {{ theme() === 'light' ? '🌙 Oscuro' : '☀️ Claro' }}
    </button>

    <button class="icon-btn" (click)="logout()">❌ Cerrar sesión</button>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>